---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="text-center my-6">
    <a href="mailto:contact@renlabs.dev" class="hover:underline">
      contact@renlabs.dev
    </a>
  </div>
  <Back />
</Layout>
