---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="text-center my-6 gap-3 flex items-center justify-center">
    <a href="mailto:contact@renlabs.dev" class="hover:underline">Mail</a>
    <a href="https://github.com/renlabs-dev" class="hover:underline">Github</a>
    <a href="https://x.com/torus_network" class="hover:underline">X</a>
  </div>
  <Back />
</Layout>
