---
import { Image } from "astro:assets";
import fish from "../assets/fish.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Image
    alt="fish"
    src={fish}
    loading="eager"
    class="w-[26em] h-[26em] border border-white mx-auto"
  />
  <nav class="mt-6 space-x-4 text-lg font-bold">
    <a href="/information" class="hover:underline">INFORMATION</a>
    <a href="/research" class="hover:underline">RESEARCH</a>
    <a href="/team" class="hover:underline">TEAM</a>
    <a href="/contact" class="hover:underline">CONTACT</a>
  </nav>
</Layout>
