---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";

type Paragraph = string | { type: "divider" };

const paragraphs: Paragraph[] = [
  "Timelines are accelerating, old systems and institutions are in decline. The world's complexity is exploding beyond what our legacy collective mechanisms are capable of navigating. We are entering an age of great instability and uncertainty, while the enemies of civilization have never been more powerful. Yet, the promises of technological advancement have become all-encompassing. We find ourselves both on the cusp of a golden age of human flourishing and the violent decay of civilization.",

  "The emergence of Bitcoin and other Cryptoeconomic technologies has introduced a new foundational substrate of human organization and economic coordination at a crucial time in history, antifragile to the world's complex, adversarial and uncertain landscape. It appears as integral to whether the storms of the 21st century. Digital Currency can bridge the legacy monetary economy into a computable environment, opening a design space filled with astounding potential. The tech for webscale economic alignment is here. We can enshrine the patterns of nature into our coordination mechanisms, organization as organism.",

  "Capitalism is evolving with technology, pioneers like Bittensor emerge as open computational adaptive markets with hyper-dimensional pricing and algorithmic game-theory, nested within a market of markets parallelized and unified under one antifragile decentralized organism, capable of autonomous teleodynamic order and negentropic adaptation in a continuous emergent process.",

  "Most of the internet's potential has not yet been realized. The web yearns for better collective agency mechanisms, sense-making frameworks, memory models and forms to self-organize. Amongst all of us, a potent collective intelligence is latent, lacking the mechanisms to express itself effectively onto the world. This era demands for a new age of web-dynamism, enabled by novel economic tools on unstoppable uncensorable peer to peer substrates.",
  { type: "divider" },

  "Ren Labs is a research group passionate in this field. We are dedicated to making research and development contributions, self-funded through protocol participation.",

  "Our primary hands-on focus is currently directed towards the Bittensor and Commune protocols. We see Bittensor as the bleeding edge of decentralized computational economics, closely following its evolution with great confidence in its direction.",

  "Commune has emerged out of Bittensor with initially flawed architecture, but high-level similar weight-based protocol methodology. It's flexibility and radical openness for bottom-up changes makes it interesting as grounds for novel experimentation in real environment, taking alternative directions to Bittensor within the same larger paradigm. We believe in this role, it has the potential to meaningfully accelerate innovation in the field.",
];
---

<Layout>
  <div
    class="max-w-xl mx-auto space-y-6 h-full pb-6 overflow-y-scroll max-h-[30em] my-8 pr-2"
  >
    {
      paragraphs.map((paragraph, index) =>
        typeof paragraph === "object" && paragraph.type === "divider" ? (
          <hr class="w-1/3 mx-auto border-t border-white border-opacity-50" />
        ) : (
          <p class="text-sm md:text-base text-center">{paragraph}</p>
        )
      )
    }
  </div>
  <Back />
</Layout>
