---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="max-w-xl mx-4 md:mx-auto space-y-5 h-full pb-6 overflow-y-scroll max-h-[30em] my-8 pr-2 text-sm md:text-base text-center"
  >
    <p>
      Timelines are accelerating, old systems and institutions are in decline.
      The world's complexity is exploding beyond what our legacy collective
      mechanisms are capable of navigating. We are entering an age of great
      instability and uncertainty, while the enemies of civilization have never
      been more powerful. Yet, the promises of technological advancement have
      become all-encompassing. We find ourselves both on the cusp of a golden
      age of human flourishing and the violent decay of civilization.
    </p>
    <p>
      The emergence of Bitcoin and other Cryptoeconomic technologies has
      introduced a new foundational substrate of human organization and economic
      coordination at a crucial time in history, antifragile to the world's
      complex, adversarial and uncertain landscape. It appears as integral to
      whether the storms of the 21st century. Digital Currency can bridge the
      legacy monetary economy into a computable environment, opening a design
      space filled with astounding potential. The tech for webscale economic
      alignment is here. We can enshrine the patterns of nature into our
      coordination mechanisms, organization as organism
    </p>
    <p>
      Most of the internet's potential has not yet been realized. The web yearns
      for better collective agency mechanisms, sense-making frameworks, memory
      models and forms to self-organize. Amongst all of us, a potent collective
      intelligence is latent, lacking the mechanisms to express itself
      effectively onto the world. This era demands for a new age of
      web-dynamism, enabled by novel economic tools on unstoppable uncensorable
      peer to peer substrates.
    </p>
    <hr class="w-1/3 mx-auto border-t border-white border-opacity-50" />
    <p>
      RENLABS is a research group passionate in this field. We are dedicated to
      making research and development contributions, self-funded through
      protocol participation.
    </p>
    <p>
      We are building <a
        href="https://torus.network/"
        target="_blank"
        class="hover:underline text-cyan-300">Torus</a
      >, a self-assembling agentic p2p organism.
    </p>
  </div>
  <Back />
</Layout>
