---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";

const research = [
  {
    title:
      "Dynamic Encryption Windows:\nOptimal Efficiency in Delay-based\nWeight Copying Mitigation\n(Working Paper)",
    link: "https://github.com/rad2520/Dynamic-Encryption-Windows-Paper/blob/main/DEWpaper.pdf",
    date: "September 2024",
  },
  // Add more papers / projects here.
];
---

<Layout>
  {
    research.map((paper) => (
      <div class="border border-gray-700 p-6 my-8 max-w-xl gap-2 flex flex-col">
        <h2 class="text-sm font-medium">{paper.title}</h2>
        <p class="text-gray-400 text-xs">{paper.date}</p>
        <a
          href={paper.link}
          target="_blank"
          rel="noopener noreferrer"
          class="text-sm underline"
        >
          Read Paper
        </a>
      </div>
    ))
  }
  <Back />
</Layout>
