---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";

const team = [
  { name: "Jairo", github: "PsicoThePato" },
  { name: "Luiz", github: "saiintbrisson" },
  { name: "Ed", github: "EdSDR" },
  { name: "Kingu", github: "kings177" },
  { name: "Kelvin", github: "steinerkelvin" },
  { name: "Timo", github: "rad2520" },
  { name: "Honza", github: "functor-flow" },
  { name: "Oliver", github: "Boscop" },
  { name: "Seeker", github: "the-seeker0" },
];
---

<Layout>
  <div
    class="grid grid-cols-3 place-items-center gap-x-6 gap-y-3 my-8 mx-4 md:mx-auto max-w-[30em]"
  >
    {
      team.map(({ name, github }) => (
        <a href={`https://github.com/${github}`} class="hover:underline">
          {name}
        </a>
      ))
    }
  </div>
  <Back />
</Layout>
