---
import Back from "../components/Back.astro";
import Layout from "../layouts/Layout.astro";

const team = [
  { name: "Kelvin", github: "steinerkelvin" },
  { name: "Jairo", github: "PsicoThePato" },
  { name: "João", github: "devwckd" },
  { name: "Timo", github: "rad2520" },
  { name: "Ed", github: "EdSDR" },
  { name: "Honza", github: "functor-flow" },
  { name: "Luiz", github: "saiintbrisson" },
  { name: "Kingu", github: "kings177" },
  { name: "Dror", github: "ddayan" },
  { name: "Oliver", github: "Boscop" },
  { name: "Gabriel", github: "GabeP" },
  { name: "Sipher", github: "Sipher"},
  { name: "Derenash", github: "Derenash"},
  { name: "Oler", github: "rodrigooler"},
  { name: "theSeeker", github: "the-seeker0"},
];
---

<Layout>
  <div
    class="flex flex-wrap justify-center w-[30em] gap-2 md:gap-4 my-8 md:mx-auto mx-4"
  >
    {
      team.map(({ name, github }) => (
        <a href={`https://github.com/${github}`} class="hover:underline">
          {name}
        </a>
      ))
    }
  </div>
  <Back />
</Layout>
